@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Taviraj:wght@300&display=swap');

html * {
    margin: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Old Standard TT', serif;
}
main, body{

    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#box {
    height: 450px;
    width: 600px;
    margin-top: 10px;
    display: inline-flex;
    background-color: rgb(48, 45, 45);
    border: rgb(255, 255, 255) 3px solid; 
    border-radius: 3%;
}

#formulario {
    width: 500px;
}


label {
    display: block
}

input {
    padding: 0,100%;
    margin-bottom: 20px;
    width: 85%;
    transition: all 0.5 ease-in-out;
}

img {
    height: 446px;
    width: 300px;
    margin-top: 9px;
    border-radius: 3%;
}
button {
    height: 25px;
    width: 75px;
    background-color: rgb(68, 65, 65);
    color: white;
}

.zoom {
   transition: all 1s ease-in-out;
}
.zoom:focus {
    transform: scale(1.05);
}
.zoom:hover {
    border-color:rgb(46, 4, 47) ;
}

@keyframes flutuar {
    0%   { transform: scale(1); }
    10%  { transform: scale(0.6); }
    25%  { transform: scale(1.2); }
    50%  { transform: scale(0.85); }
    75%  { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#animacion {
    width: 50px;
    height: 50px;
    animation: flutuar 3.5s ease-in-out alternate-reverse infinite; 
}



